.t1{
    color: gray;
    background-color: yellow;
}

.t2{
    background-color: blueviolet;
}

p{
    color: aliceblue;
}

main{
    background-color: Blue;
}

footer{
    background-color: green;
}

h1{
    text-align: center;
}
